<!DOCTYPE html>
<html lang="en">
  <%- include('partials/Head') %>
  <body>
    <h3>Create New List</h3>

    <form action="/quotes" method="POST">
      <input type="text" placeholder="name" name="name" />
      <input type="text" placeholder="quote" name="quote" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>